/* != Headings */

[class*=hd_] {
  font-family:$displayfontfamily;
}

.hd_Chewie {
  font-size:em(36);
  line-height: 1;
}

.hd_Han {
  font-size:em(20);
}

@include mq(plusOne($bpArtoo), $limit: min) {
  .hd_Chewie {
    font-size:vw(36,$bpArtoo);
  }

  .hd_Han {
    font-size:vw(20,$bpArtoo);
  }
}

@include mq(plusOne($bpVader), $limit: min) {
  .hd_Chewie {
    font-size:em(62.5);
  }

  .hd_Han {
    font-size:em(42);
  }
}
