/* != Main Brand Component in Header */

.cp_Brand {
  &__link {
    display: inline-block;
    line-height: 0;
  }

  &__image {
    width: 126px;
    height: auto;
  }
}

/* !== Breakpoint */
@include mq($bpHan) {
  .cp_Brand {
    &__image {
      width: 75px;
    }
  }
}
