/* != Main Brand Component in Header */

.cp_Brand {
  &__link {
    display: inline-block;
    line-height: 0;
  }

  &__image {
    width: 94px;
    height: auto;
  }

  &__imageShadow {
    fill:var(--secondaryColour, $clrSecondary);
  }
}

/* !== Breakpoint */
@include mq($bpRey) {
  .cp_Brand {
    &__link {
      padding:25px 9px 12px;
      border-radius:0 0 6px 6px;
    }

    &__image {
      width: 35px;
      height: auto;
    }
  }
}
