/* != Blog Post Component */

.cp_Post {
  margin-top:em(100);

  &:first-child {
    margin-top: 0;
  }

  &__header {
    margin:0 0 em(40);
  }

  &__meta {
    //display: none;
    text-transform: uppercase;
    font-family:$displayfontfamily;
    //color:var(--secondaryColour);
    font-size:em(16);
    letter-spacing:em(1,16);
    font-weight:$semibold;
    opacity:0.5;
    margin:0 0 em(20);
  }
}

/* !== Breakpoint */
@include mq($bpRey) {
  .cp_Post {
    &__header {
      margin-bottom:em(40);
    }
  }
}

/* !== Breakpoint */
@include mq($bpArtoo) {
  .cp_Post {
    &__header {
      margin-bottom:em(20);
    }

    &__meta {
      font-size:em(14);
    }
  }
}
