/* != Site Title - Component */

.cp_SiteTitle {
  &__heading {
    font-family:$bodyfontfamily;
    font-weight:$medium;

    strong {
      font-weight:$bold;
    }
  }

  &__link {
    text-decoration: none;
  }
}
