/* != Component - Page Title */

.cp_PageTitle {
  &__title {
    display: inline-block;
    color:$clrDarkGrey;
    margin-bottom:0.5em;
  }
}

@include mq(plusOne($bpChewie), $limit: min) {
  .cp_PageTitle {
    max-width:90vw;
  }
}
