/* != Main Brand Component in Header */

.cp_Brand {
  &__link {
    display: inline-block;
    line-height: 0;
  }

  &__image {
    width: 94px;
    height: auto;
  }
}

svg {
  .themeFill {
    fill:var(--iconShadow, $clrPrimary) !important;
  }

  .svgBackgroundFill {
    fill:var(--iconCutout, $clrBackground) !important;
  }
}

/* !== Breakpoint */
@include mq($bpHan) {
  .cp_Brand {
    &__image {
      width: 60px;
    }
  }
}
