/* != Blog Post Component */

.cp_Post {
  &__header {
    margin:0 0 em(60);
  }

  /* &__title {
    padding-bottom: 20px;
    border-bottom: 1px solid $clrVeryLightGrey;
  } */

  &__meta {
    display: none;
  }
}
