/* != Component - Page Title */

.cp_PageTitle {
  &__title {
    color:var(--primaryColour, $clrPrimary);
    padding-bottom: 0.4em;
    border-bottom:3px solid rgba(0,0,0,0.05);
    margin-bottom:0.8em;
  }

  .ob_Icon {
    height:50px;
    width: auto;
    position: relative;
    margin:0 10px -5px 0;
  }
}

@include mq(plusOne($bpChewie), $limit: min) {
  .cp_PageTitle {
    max-width:90vw;
  }
}
