/* != Document */

/* Rules for <html> and <body> go here */
body {
  color:$clrDarkGrey;
  background:$clrWhite;
  font-size:100%;
  font-family:$bodyfontfamily;
  font-weight:$normal;
  line-height:1.5;
  font-feature-settings: "kern" 1, "dlig" 1;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.wrapper {
  background:$clrWhite;
}
