/* != Document */

/* Rules for <html> and <body> go here */
body {
  --primaryColour: $clrPrimary;
  --secondaryColour: $clrAccent;
  --secondaryColourShadow: rgba($clrAccent,0.75);
  --backgroundColour: $clrBackground;
  --iconDark: $clrPrimary;
  --iconLight: $clrWhite;
  --iconCutout: $clrBackground;
  --iconShadow: rgba($clrAccent,0.75);

  &.home {

  }

  &.post {

  }

  color:var(--primaryColour, $clrPrimary);
  background:(--backgroundColour, $clrBackground);
  font-size:100%;
  font-family:$bodyfontfamily;
  font-weight:$normal;
  line-height:1.5;
  font-feature-settings: "kern" 1, "dlig" 1;
}




*, *:before, *:after {
  box-sizing: border-box;
}

.wrapper {
  background:(--backgroundColour, $clrBackground);
}
