/* != Headings */

[class*=hd_] {
  font-family:$displayfontfamily;
}

.hd_Chewie {
  font-size:em(28);
  font-weight:$bold;
  line-height: 1;
}

.hd_Han {
  font-size:em(54);
}

.hd_Luke {
  font-size:em(42);
}

.hd_Rey {
  font-size:em(18);
  font-weight:$bold;
  text-transform: uppercase;
  letter-spacing:-0.025em;
}

.hd_Artoo {
  font-family:$bodyfontfamily;  
  font-size:em(16);
  font-weight:$normal;
  font-style: italic;
  color:$clrLightGrey;
}

@include mq(plusOne($bpArtoo), $limit: min) {
  .hd_Chewie {
    font-size:vw(28,$bpArtoo);
  }

  .hd_Rey {
    font-size:em(24);
  }
}

@include mq(plusOne($bpChewie), $limit: min) {
  .hd_Chewie {
    font-size:em(70);
  }
}
