/* != Headings */

[class*=hd_] {
  font-family: $displayfontfamily;
  font-weight:$medium;
  letter-spacing:em(-2,128);
}

.hd_Force {
  font-size:em(72);
  margin:0 0 em(50,72);
  line-height: 1.2;
  //color:$clrAccent;
  text-shadow: 2px 2px 0 $clrWhite, 4px 4px 0px var(--secondaryColourShadow);
}

.hd_Chewie {
  font-size:em(48);
  line-height: 1;
  margin:0 0 em(35,48);
  //color:$clrAccent;
  text-shadow: 1px 1px 0 $clrWhite, 3px 3px 0px var(--secondaryColourShadow);
}

.hd_Han {
  font-size:em(48);
}

.hd_Luke {
  font-size:em(36);
}

.hd_Leia {
  font-size:em(24);
  font-weight:$light;
}

.hd_Rey {
  font-size:em(20);
  //text-transform: uppercase;
  letter-spacing:-0.015em;
}

.hd_Artoo {
  font-size:em(16);
  font-weight:$normal;
  font-style: italic;
  color:$clrLightGrey;
}

.hd_Yoda {
  font-family:$displayfontfamily;
  font-size:em(14);
  font-weight:$medium;
  letter-spacing:-0.015em;
  //text-transform: uppercase;
}

/* !== Breakpoint */
@include mq($bpChewie) {
  .hd_Force {
    font-size:vw(92,$bpChewie);
  }
}

/* !== Breakpoint */
@include mq($bpRey) {
  .hd_Force {
    font-size:em(54);
  }

  .hd_Chewie {
    font-size:em(48);
  }

  .hd_Luke {
    font-size:em(28);
  }
}

/* !== Breakpoint */
@include mq($bpArtoo) {
  .hd_Chewie {
    font-size:em(36);
  }

  .hd_Luke {
    font-size:em(24);
  }

  .hd_Yoda {
    font-size: em(12);
  }
}
