/* != Headings */

[class*=hd_] {
  font-family:$displayfontfamily;
}

.hd_Chewie {
  font-size:em(48);
  font-weight:$bold;
  line-height: 1;
  margin:0 0 em(10,48);
}

.hd_Han {
  font-size:em(48);
}

.hd_Luke {
  font-size:em(36);
}

.hd_Leia {
  font-size:em(24);
  font-weight:$light;
}

.hd_Rey {
  font-size:em(20);
  //text-transform: uppercase;
  letter-spacing:-0.015em;
}

.hd_Artoo {
  font-family:$bodyfontfamily;
  font-size:em(16);
  font-weight:$normal;
  font-style: italic;
  color:$clrLightGrey;
}

/* !== Breakpoint */
@include mq($bpRey) {
  .hd_Chewie {
    font-size:em(36);
  }
}

/* !== Breakpoint */
@include mq($bpArtoo) {
  .hd_Chewie {
    font-size:em(28);
  }
}
