/* != Layout - CSS Grid */

@supports (display:grid) {
  .wrapper {
    display: grid;
    min-height:100vh;
  }

  /* !== Breakpoint */
  @include mq(plusOne($bpChewie), $limit: min) {
    .wrapper {
      grid-template-columns:minmax(5vw, 10vw) 800px auto;
      grid-template-rows:minmax(150px, 20vh) 3fr 100px;
    }
  }

  /* !== Breakpoint */
  @include mq($bpChewie) {
    .wrapper {
      grid-template-columns:minmax(5vw, 10vw) vw(800,$bpChewie) auto;
      grid-template-rows:minmax(150px, 20vh) 3fr 100px;
    }
  }

  @include mq($bpArtoo) {
    .wrapper {
      grid-template-columns:20px auto 20px;
      grid-template-rows:minmax(150px, 20vh) 5fr 100px;
    }
  }

/* !== Regions */
  .rg_PageHeader,
  .rg_PageContent,
  .rg_PageFooter {
    grid-column: 2 / span 1;
  }

  .rg_PageHeader {
    grid-row:1 / span 1;
    align-self:start;
    padding:30px 0;

  }

  .rg_PageContent {
    grid-row:2 / span 1;
  }

  .rg_PageFooter {
    grid-row:3 / span 1;
  }
}
