/* != Layout - CSS Grid */

@supports (display: grid) {
  .wrapper {
    display: grid;
    max-width: 100%;
    min-height: 100vh;
    background: $clrBackground;
    border-right: 40px solid var(--accentColour, $clrSecondary);
    grid-template-columns: 200px repeat(4, minmax(10vw, 175px)) auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-rows: auto 1fr 100px auto 20px;
  }

  /* !== Regions */
  .rg_PageContent {
    grid-column: 2 / span 4;
  }

  .cp_Footer {
    grid-column: 2 / span 4;
  }

  .rg_PageHeader {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    align-self: start;
    padding: 30px 0 30px 30px;
  }

  .rg_Nav {
    grid-column: 2 / span 5;
    grid-row: 1 / span 1;
    align-self: center;
    align-content: center;
    padding: 0 30px;
  }

  .rg_PageContent {
    grid-row: 2 / span 1;
  }

  .cp_Portrait {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }

  .cp_Footer {
    font-family: $displayfontfamily;
    padding: 30px 0 0;
    border-top: 1px solid $clrVeryLightGrey;
    grid-row: 4 / span 1;
    /* Grid Container Rules */
    display: grid;
    grid-template-columns: minmax(100px, 1fr) 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }



  /* !== Breakpoint */
  @include mq($bpChewie) {
    .wrapper {
      grid-template-columns: 160px repeat(4, minmax(10vw, 160px)) auto;
    }
  }

  /* !== Breakpoint */
  @include mq($bpHan) {
    .wrapper {
      grid-template-columns: 90px repeat(4, minmax(10vw, 160px)) auto;
    }
  }

  /* !== Breakpoint */
  @include mq($bpRey) {
    .wrapper {
      grid-template-columns: 10px repeat(4, 1fr) 10px;
      grid-gap: 10px;
    }

    .rg_PageContent,
    .cp_Footer {
      grid-column: 2 / span 4;
    }

    .rg_PageHeader {
      grid-column: 2 / span 1;
      padding: 15px 0;
    }

    .rg_Nav {
      grid-column: 3 / span 3;
      padding: 0;
    }
  }

  /* !== Breakpoint */
@include mq($bpLeia) {
  .cp_Footer {
    grid-template-rows:auto;
  }

  .cp_Biog,
  .cp_Copyright,
  .cp_SocialLinks {
    grid-column: 1 / span 3;
    grid-row:auto;
  }

  .cp_Copyright {
    text-align: center;
  }
}

  /* !== Breakpoint */
  @include mq($bpArtoo) {
    .wrapper {
      border: none;
    }
  }
}
