/* != Text - General Prose Styles */

.tx_Prose {
  h1,h2,h3,h4 {
    line-height:1.5;
    font-weight:$semibold;
  }

  h1 {
    font-size:em(28);
  }

  h2 {
    font-size:em(24);
  }

  h3 {
    font-size:em(20);
  }

  h4 {
    font-size:em(16);
    font-weight:$bold;
    text-transform: uppercase;
  }

  p,
  li {
    font-size:em(18);
    margin:0 0 1em;
    font-weight:$normal;
  }

  ul {
    list-style:disc;
    padding-left:20px;
  }

  strong {
    font-weight: $semibold;
  }

  a {
    color:$clrPrimary;
    text-decoration: none;
    border-bottom:2px solid $clrPrimary;
  }
}


/* !== Breakpoint - bpLeia */
@include mq(plusOne($bpLeia), $limit: min) {
  .tx_Prose {
    h1 {
      font-size:vw(28,$bpLeia);
    }

    h2 {
      font-size:vw(24,$bpLeia);
    }

    h3 {
      font-size:vw(20,$bpLeia);
    }

    h4 {
      font-size:vw(16,$bpLeia);
    }

    p,
    li {
      font-size:20px;
    }

    ul {
      padding-left:vw(20,$bpLeia);
    }
  }
}


@include mq(plusOne($bpChewie), $limit: min) {
  .tx_Prose {
    h1 {
      font-size:em(58);
    }

    h2 {
      font-size:em(50);
    }

    h3 {
      font-size:em(42);
    }

    h4,
    p,
    li {
      font-size:24px;
    }

    ul {
      padding-left:em(42);
    }
  }
}
