<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="wrapper">
      <header class="rg_PageHeader">
        <div class="cp_SiteTitle">
          <h1 class="cp_SiteTitle__heading hd_Rey"><a class="cp_SiteTitle__link" href="/"><strong>Jamie Boyd</strong> lives here</a></h1>
          <h2 class="cp_SiteTitle__subtitle hd_Artoo">I make websites and other things too.</h2>
        </div>
      </header>

        {{ content }}

      {% include footer.html %}
    </div>

    <script src='{{ "/assets/js/main.js" | prepend: site.baseurl }}'></script>
  </body>
</html>
