---
layout: default
---



<main class="rg_PageContent">
  <div class="cp_PageTitle">
    <div class="cp_PageTitle__inner">
      <h1 class="cp_PageTitle__title hd_Chewie">Lorem ipsum dolor.</h1>
    </div>
  </div>
{{ content }}




{% for post in site.posts %}
    <h3 class="hd_Leia"><a href="{{ post.url }}">{{ post.title }}</a></h3>
    <p><small><strong>{{ post.date | date: "%B %e, %Y" }}</strong> . {{ post.category }} . <a href="http://erjjones.github.com{{ post.url }}#disqus_thread"></a></small></p>
{% endfor %}

</main>
