---
layout: default
---
<main class="rg_PageContent">
<article class="cp_Post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="cp_Post__header">
    <p class="cp_Post__meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>

    <h1 class="cp_Post__title hd_Chewie" itemprop="name headline">{{ page.title | escape }}</h1>
  </header>

  <div class="cp_Post__content tx_Prose" itemprop="articleBody">
    {{ content }}
  </div>

</article>
</main>
