/* != Framework - Global Typography Settings */

// Variables and other settings that are used globally

/* !== Typography */

// Global base text size - Set without units
$textBase: 16;

/* ! Font Families */
$displayfontfamily: "bookmania",Georgia,Times,serif;
$bodyfontfamily:"Avenir Next","Avenir",Verdana,sans-serif;
$codefontfamily: "Consolas",monaco,monospace;

/* ! Font Weights */
$extralight: 100;
$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$black: 900;

/* ! Base Font Values - used as the default for things like basic paragraphs, lists, etc. */
$baseFontSize : 20px;
$baseLineHeight : 1.3;
