/* != Component - Page Title */

.cp_PageTitle {
  width:100%;
  max-width:90vw;
  margin:5vw auto;

  &__title {
    display: inline-block;
    padding:10px;
    color:$clrBlack;
    background:$clrWhite;
  }
}

@include mq(plusOne($bpVader), $limit: min) {
  .cp_PageTitle {
    max-width:90vw;
  }
}
