/* != Component - Homepage Introduction */

.cp_Info {
  width:100%;
  max-width:90vw;
  margin:4vw auto;
  padding:10px;
}

@include mq(plusOne($bpVader), $limit: min) {
  .cp_Info {
    max-width:90vw;
  }
}
