/* != Component - Social Links */

.cp_Social {
  &__linksList {
    display: inline-block;
    border-radius:50px;
  }

  &__linkItem {
    display: inline-block;
  }

  &__link {
    color:inherit;
    margin-right:10px;
    padding:15px;
    border-radius:50px;
    display: inline-block;
    background-color:$clrVeryLightGrey;
    line-height: 0;

    svg {
      max-height:40px;
      max-width:40px;

    }

    path {
      transition:fill 0.1s ease-out;
    }

    &:hover, &:focus, &:active {
      background-color:$clrDarkGrey;

      path {
        fill:$clrWhite !important;
      }

      path.invert {
        fill:$clrDarkGrey !important;
      }
    }
  }
}

// @include mq($bpVader) {
//   .cp_Social {
//     &__link {
//       padding:vw(15,$bpVader);
//     }

//     &__svg {
//       max-width:vw(40,$bpVader);
//       max-height:vw(40,$bpVader);
//     }
//   }
// }


@include mq($bpArtoo) {
  .cp_Social {
    &__svg {
      max-width: 20px;
      max-height: 20px;
    }

    &__link {
      padding: 10px;
      display: block;
    }
  }
}
