/* != Text - Intro Styles */

.tx_Intro {
  p {
    font-size:em(20);
    margin:0 0 1em;
    font-weight:$semibold;
  }

  a {
    color:inherit;
    transition:all 0.1s ease-out;

    &:hover, &:focus, &:active {
      color:$clrBlue;
    }
  }

  strong,
  a {
    font-weight:$bold;
  }
}

@include mq($bpArtoo) {
  .tx_Intro {
    p {
      font-size:em(18);
    }
  }
}

/* !== Breakpoint - Artoo */
@include mq(plusOne($bpArtoo), $limit: min) {
  .tx_Intro {
    p {
      font-size:vw(20,$bpArtoo);
    }
  }
}

@include mq(plusOne($bpVader), $limit: min) {
  .tx_Intro {
    p {
      font-size:em(42);
    }
  }
}
