<footer class="cp_Footer">

    <figure class="cp_Footer__biogImage ob_Image">
      <img src="/assets/img/portrait_placeholder.svg" alt="">
    </figure>
    <div class="cp_Footer__biogDetails tx_Prose--small tx_Prose">
      <p>I'm Jamie Boyd, a web developer and designer living and working in Glasgow, Scotland. This is my little corner of the internet. Something everyone should have.</p>
      <p><strong>Thanks for stopping by.</strong></p>
    </div>
    <p class="cp_Footer__copyright">&copy; Jamie Boyd</p>

</footer>
