<footer class="rg_PageFooter">
  <section class="cp_Biog">
    <figure class="cp_Biog__image"></figure>
    <div class="cp_Biog__details tx_Prose--small tx_Prose">
      <p>I'm Jamie Boyd, a web developer and designer living and working in Glasgow, Scotland. This is little corner of the internet. Something everyone should have.</p>
      <p><strong>Thanks for stopping by.</strong></p>
    </div>
  </section>
  <section class="cp_Copyright">
    <p class="cp_Copyright__message">&copy; Jamie Boyd</p>
  </section>

  <section class="cp_SocialLinks">
    <ul class="cp_SocialsLinks__list">
      Social Links
    </ul>
  </section>
</footer>
