<nav class="rg_Nav">
  <div class="cp_Nav">
    <ul class="cp_Nav__menu fx_Group">
      <li class="cp_Nav__menuItem">
        <a href="/" class="cp_Nav__link fx_Content ct_Pseudo">
          <span class="cp_Nav__icon">
            {% include icon_home.svg %}
          </span>
          <span class="cp_Nav__location hd_Yoda">Home</span>
        </a>
      </li>
      <li class="cp_Nav__menuItem">
        <a href="/notes" class="cp_Nav__link fx_Content ct_Pseudo">
          <span class="cp_Nav__icon">
            {% include icon_pencil.svg %}
          </span>
          <span class="cp_Nav__location hd_Yoda">Notes</span>
        </a>
      </li>
      <li class="cp_Nav__menuItem">
        <a href="" class="cp_Nav__link fx_Content ct_Pseudo">
          <span class="cp_Nav__icon">
            {% include icon_hammer.svg %}
          </span>
          <span class="cp_Nav__location hd_Yoda">Work</span>
        </a>
      </li>
      <!-- <li class="cp_Nav__menuItem">
        <a href="/about" class="cp_Nav__link fx_Content ct_Pseudo">
          <span class="cp_Nav__icon">
            {% include icon_person.svg %}
          </span>
          <span class="cp_Nav__location hd_Yoda">About</span>
        </a>
      </li> -->
    </ul>
  </div>
</nav>
