/* != Component - Homepage Introduction */

.cp_Info {
  width:100%;
  max-width:em(900);
  margin:4vw auto;
  padding:10px;
}

@include mq(plusOne($bpVader), $limit: min) {
  .cp_Info {
    margin:40px auto;
  }
}
