/* != Text - General Prose Styles */

.tx_Prose {

  h1,h2,h3,h4 {
    line-height:1.5;
    font-weight:$semibold;
  }

  h1 {
    font-size:em(28);
  }

  h2 {
    font-size:em(24);
  }

  h3 {
    font-size:em(20);
  }

  h4 {
    font-size:em(16);
    font-weight:$bold;
    text-transform: uppercase;
  }

  p,
  li {
    font-size:em(16);
    margin:0 0 1em;
    font-weight:$normal;
  }

  ul {
    list-style:disc;
    padding-left:20px;
  }
}


/* !== Breakpoint - Artoo */
@include mq(plusOne($bpArtoo), $limit: min) {
  .tx_Prose {
    h1 {
      font-size:vw(28,$bpArtoo);
    }

    h2 {
      font-size:vw(24,$bpArtoo);
    }

    h3 {
      font-size:vw(20,$bpArtoo);
    }

    h4 {
      font-size:vw(16,$bpArtoo);
    }

    p,
    li {
      font-size:vw(16,$bpArtoo);
    }

    ul {
      padding-left:vw(20,$bpArtoo);
    }
  }
}


@include mq(plusOne($bpVader), $limit: min) {
  .tx_Prose {
    h1 {
      font-size:em(58);
    }

    h2 {
      font-size:em(50);
    }

    h3 {
      font-size:em(42);
    }

    h4,
    p,
    li {
      font-size:em(24);
    }

    ul {
      padding-left:em(42);
    }
  }
}
